@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body {
  font-family: 'oswald', sans-serif;
  color: red;
  background-color: black;
  line-height: 1.4;
  width: 100%;
}



/* start nav bar */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  
  height: 19px;
  padding: 25px 0px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: black;
  opacity: 0.7;
  
  z-index: 5;
}
header a{
  margin-right: 2rem;
  color: red;
  
  text-decoration: none;
  z-index: 5;
}

header a:hover{
  margin-right: 2rem;
  color: purple;
  
  text-decoration: underline;
  z-index: 5;
}
/*end nav bar*/
.background_grid {
  display: grid;
  
  justify-content: center;
  align-items: center;
  
  grid-template-columns: 100%;
  grid-gap: 0px;
  
  width: 100%;
  height: auto;
  
  z-index: -2;
}
#background1 {
  grid-column: 1;
  grid-row: 1;
  brightness: 55%;
  z-index: -1;
}

}
.background_stretch {
  width: ;
  height: auto;
}
/*start for mobile phones */
@media only screen and (max-width:800px)
{
  header  {
    position: absolute;
    top: 0px;
    width: 100%;
    
    height: 2vw;
    padding: 21px 0px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: black;
    opacity: 0.7;
    
    z-index: 5;
    
  } 
}
/*end for mobile phones*/


/*start welcome section*/
#welcome-section {
  width: 100%;
  height: 100vh;
  
  position: absolute;
  top: 10vw;
  left: 0vw;
  z-index: 2;
}
#welcome-section h1 {
  text-align: center;
  font-size: 3vw;
  color: purple;
  
  position: absolute;
  top: 2vw;
  right: 4vw;
  left: 7vw
}
#welcome-section h2 {
  text-align: center;
  font-size: 4vw;
  color: purple;
  
  position: absolute;
  top: 5vw;
  right: 7vw;
  left: 5vw
}
/*start projects section*/
#projects-section h3{
  text-align: left;
  font-size: 3vw;
  color: white;
  
  position: absolute;
  top: 30vw;
  left: 2vw;
  
  border-bottom: 1px solid #40e0d0;
  border-bottom-width: 1px;
  
  word-spacing: 2px;
  letter-spacing: 5px; 
}
#projects-section p{
  font-size: 1vw;
}
#projectsbar {
  display: center;
  justify-content: center;
  align-items: center;
  text-align: inline;
  
  position: absolute;
  top: 44vw;
  left: 2vw;
  
  width: 100%;
  height: auto;
  
  font-size: 2vw;
  word-spacing: 2px;
  letter-spacing: 5px;
}
#projectsbar a{
  margin-right: 6vw;
  margin-left: 6vw;
  color: silver;
  
  text-decoration: none;
  z-index: 3;
}
#projectsbar a:hover{
  margin-right: 6vw;
  margin-left: 6vw;
  color: yellow;
  
  font-weight: bold;
  z-index: 2;
}
#javaprojectsbar h2{
  display: flex;
  justify-content: center;
  text-align: left;
  
  
  position: absolute;
  top: 70vw;
  left: 7vw;
  
  font-size: 2vw;
  color: silver;
  word-spacing: 2px;
 letter-spacing: 5px;
   border-bottom: 1px solid #40e0d0;
  border-bottom-width: 1px;
  z-index: 3;
 
}
#javaprojectsbar p{
color: silver;
  
  text-align: left;
  
  position: absolute;
  top: 77vw;
  left: 7vw;
  
  font-size: 2vw;
  word-spacing: 2px;
 letter-spacing: 5px; 
  
  text-decoration: none;
  z-index: 3;}

#achievements-section{
  top: 90vw;
  left: 7vw;
  position:absolute;
    border-bottom: 1px solid #40e0d0;
  border-bottom-width: 1px;
}
#achievements-section h1{
  font-size: 4vw;
  color: silver;
  word-spacing: 2px;
 letter-spacing: 5px;
  z-index: 3;
}